@import "tailwindcss";

@theme inline {
  --color-Uranium: #f1c40e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dustgray: #9e9e9e;
  --bg-gradient: linear-gradient(180deg, #fff 0%, rgba(0, 0, 0, 0.5) 100%);
}

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.hero_img {
  border: 1px solid #604b3e;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url("/img/welcome.jpg") lightgray 50% / cover no-repeat;
}
.hero_text {
  color: #f1c40e;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}



/* input syling
    trynna make global css for different pages of the app, but not sure if this is the best way to do it
 */ 

.base_input {
  padding: 12px;
  width: 370px;
  height: 48px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 24px;
border: 1px solid #9E9E9E;
&:focus {
    outline: none;
    border-color: #f1c40e;
  }

  &::placeholder {
    color: #9e9e9e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
}

.big_bttn {
  display: flex;
  width: 370px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 370px;
  height: 48px;
  border-radius: 24px;
  background: #f1c40e;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 45px;
}

.form_container {
display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 16px;
    width: 370px;
    margin: 0 auto;

}
.textarea_input {
  display: flex;
padding: 12px 20px;
align-items: center;
gap: 10px;
width: 370px;
height: 120px;
align-self: stretch;
border-radius: 24px;
border: 1px solid #9E9E9E;
}
.error_message {
  min-height: 20px;
  font-size: 14px;
  color: #f87171;
  text-align: center;

}

.newsletter_input {
  color: #9E9E9E;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

padding: 12px 20px;
align-items: center;
gap: 10px;
flex: 1 0 0;
width: 246px;
height: 48px;
border-radius: 24px;
border: 1px solid #9E9E9E;
  &::placeholder {
    color: #9e9e9e;
    font-size: 16px;
    margin-left: 20px;
    
   ;
    
  }
 


}
.small_bttn {
 display: flex;
padding: 12px 20px;
align-items: center;
gap: 10px;
flex: 1 0 0;
  width: 108px;
  height: 48px;
  border-radius: 24px;
  background: #f1c40e;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

/* class styling*/
 .heading_popular {
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 17px; 
 }
 .heading_classes {
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }

.heading_classnames {
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 17px;
 }

 /* signing up and in heading  styling */






 /* splash */
 .animate-fade-in-delayed {
  opacity: 0;
  animation: fadeInUp 0.7s ease-out 0.7s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.coach_container {
  display: flex;
width: 239px;
align-items: center;
gap: 20px;

}
.coach_container img {
  border-radius: 16px;
  background: lightgray 50% / cover no-repeat;
  object-fit: cover !important ;
}
