@import "tailwindcss";

@theme inline {
  --color-Uranium: #f1c40e;
  --color-white: #ffffff;
  --color-black: #000000;
  --bg-gradient: linear-gradient(180deg, #fff 0%, rgba(0, 0, 0, 0.5) 100%);
}

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.hero_img {
  border: 1px solid #604b3e;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url("/img/welcome.jpg") lightgray 50% / cover no-repeat;
}
.hero_text {
  color: #f1c40e;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
